Study Level Variables:
{% for study_key, study_value in study_level_variables %}{{ study_key }},{{study_value}}
{% endfor %}

Sample Table:
{% for header in headers %}{{ header }}{% if not loop.last %},{% endif %}{% endfor %}
