<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
#queryForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust number of columns as needed */
    gap: 20px; /* Spacing between columns */
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer; /* Makes it look clickable */
}

.queryRow {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.querySection {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for collapsible content */
.collapsible-content {
    display: 'block';
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

.querySection input[type="text"], .querySection select {
    width: 90%;  // Ensures the inputs don't overflow the positioned divs
    padding: 8px;
    margin: 4px 0;  // Reduced margin for a tighter fit
    box-sizing: border-box;
}

.querySection div {
    margin-bottom: 10px;
}

#cornerPointsInputs {
    background-color: #f4f4f4;  // Light background to highlight the box
    padding: 10px;  // Padding to create some space inside the border
}

#cornerPointsInputs > div {
    min-width: 220px;  // Ensures that there is enough room for labels and inputs
}

.query-input-group {
    margin-bottom: 15px; /* Add space between each input group */
    padding: 10px; /* Add padding for better separation */
    border: 1px solid #ccc; /* Add border around each input group */
    border-radius: 5px; /* Add rounded corners */
    background-color: #f9f9f9; /* Light background color */
}
.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-primary {
    width: auto;  /* Ensure the button is not too wide */
    height: auto; /* Ensure the button is not too tall */
}
#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    text-align: center;
    padding-top: 20%;
    font-size: 24px;
}

#validSampleCount {
    z-index: 1000; /* Ensure it's above other elements */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

</style>
<title>Dynamic Query Builder</title>
</head>
<body>
<div class="container mt-5">
    <div id="validSampleCount" class="info-box alert alert-info" role="alert">
        <span class="section-title">Current sample and study count for selected filters</span><br/>
        Number of Samples: <span id="sampleCount">Loading...</span><br/>
        Number of Studies: <span id="studyCount">Loading...</span><br/>
        <pre id="filterText"></pre><br/>
        <a href="https://ecoshard-202922.projects.earthengine.app/view/pcld-remote-sensed-data-catalog" target="_blank" rel="noopener noreferrer">Link to catalog visualization for future remote sensed datasets</a>
    </div>
    <form id="queryForm" action="/api/process_query" method="post">
        <div id="queryBuilder">
            <div class="querySection">
                <div class="section-title" onclick="toggleVisibility('columnQuery')">Query by covariate value
                </div>
                <div class="collapsible-content" id="columnQuery">
                <p><a href="{{ url_for('view_covariate') }}" class="btn btn-link" target="_blank">Inspect covariate definitions</a></p>
                <div id="queryRows">
                    <div class="queryRow">
                        <label for="fieldSelect">Choose a covariate variable:</label>
                        <select name="covariate" id="covariateSelect" onchange="updateValueOptions(this)">
                            <option value="" selected>Select covariate</option>
                            {% for covariate in unique_covariate_values %}
                                <option value="{{ covariate }}">{{ covariate }}</option>
                            {% endfor %}
                        </select>
                        <select name="operation">
                            {% for op in possible_operations %}
                                <option value="{{ op }}">{{ op }}</option>
                            {% endfor %}
                        </select>
                        <div class="valueSelectContainer">
                            <select name="value" class="valueSelect">
                                <option value="" selected>Select value</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="removeRow(this)">Remove</button>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" onclick="addRow()">Add Column</button>
            </div>
            </div>
            <div class="querySection">
                <div class="section-title" onclick="toggleVisibility('spaceQuery')">Query by space</div>
                <div class="collapsible-content" id="spaceQuery">
                    <label>Select query type:</label>
                    <select id="spaceQueryType" onchange="toggleSpaceQueryType()">
                        <option value="centerPoint">Central Point</option>
                        <option value="cornerPoints">Corner Coordinates</option>
                        <option value="country">Country</option>
                        <option value="continent">Continent</option>
                    </select>

                    <div id="centerPointInputs" style="display: block;">
                        <label for="centerPoint">Central Point (latitude, longitude):</label>
                        <input type="text" id="centerPoint" name="centerPoint" placeholder="(latitude, longitude)">
                        <label for="centerPointBuffer">Size of bounding box edges in degrees</label>
                        <input type="text" id="centerPointBuffer" name="centerPointBuffer" placeholder="0.25">
                    </div>

                    <div id="cornerPointsInputs" style="display: none; position: relative; border: 2px solid #ccc; height: 200px; margin-top: 20px;">
                        <div style="position: absolute; top: 15px; left: 15px;">
                            <label for="upperLeft">Upper Left (latitude, longitude)</label>
                            <input type="text" id="upperLeft" name="upperLeft" placeholder="(latitude, longitude)">
                        </div>
                        <div style="position: absolute; bottom: 15px; right: 15px; text-align: right;">
                            <label for="lowerRight">Lower Right (latitude, longitude)</label>
                            <input type="text" id="lowerRight" name="lowerRight" placeholder="(latitude, longitude)">
                        </div>
                    </div>
                    <div id="countrySelectInput" style="display: none;">
                        <label for="countrySelect">Country:</label>
                        <select name="countrySelect" id="countrySelect">
                            <option value="" selected>Select a country</option>
                            {% for variable in country_set %}
                                <option value="{{ variable }}">{{ variable }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="continentSelectInput" style="display: none;">
                        <label for="continentSelect">Continent:</label>
                        <select name="continentSelect" id="continentSelect">
                            <option value="" selected>Select a continent</option>
                            {% for variable in continent_set %}
                                <option value="{{ variable }}">{{ variable }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="querySection">
                <div class="section-title" onclick="toggleVisibility('timeQuery')">Query by year</div>
                <div class="collapsible-content" id="timeQuery">
                    <p>Please enter a year, a comma-separated list of years, or a range using a hyphen (e.g., 1990-1995).</p>
                    <label for="yearRange">Enter year(s):</label>
                    <input type="text" id="yearRange" name="yearRange" placeholder="e.g., 1990, 1992, 1995-2000">
                </div>
            </div>
            <div class="querySection">
                <div class="section-title" onclick="toggleVisibility('sampleSizeQuery')">Query by minimum sample size</div>
                    <div class="collapsible-content" id="sampleSizeQuery">
                        <div class="query-input-group">
                            <label for="minSiteYears">Minimum number of site-years in study:</label>
                            <input type="number" id="minSiteYears" name="minSiteYears" value="0" min="0">
                        </div>
                        <div class="query-input-group">
                            <label for="minSitesPerStudy">Minimum number of sites in study:</label>
                            <input type="number" id="minSitesPerStudy" name="minSitesPerStudy" value="0" min="0">
                        </div>
                        <div class="query-input-group">
                            <label for="sampleSizeMinYears">Minimum number years in a study:</label>
                            <input type="number" id="sampleSizeMinYears" name="sampleSizeMinYears" value="0" min="0">
                        </div>
                        <div class="query-input-group">
                            <label for="sampleSizeMinObservationsPerYear">Minimum number of observations per years of a study:</label>
                            <input type="number" id="sampleSizeMinObservationsPerYear" name="sampleSizeMinObservationsPerYear" value="0" min="0">
                        </div>
                    </div>
            </div>
        </div>
        <div class="submit-container">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>
<div id="loadingOverlay">Processing, sometimes this takes a couple of minutes...</div>

<script>
function showLoadingOverlay() {
    const loadingOverlay = document.getElementById('loadingOverlay');
    loadingOverlay.style.display = 'block';
}
function addRow() {
    const queryRows = document.getElementById("queryRows");
    const newRow = queryRows.firstElementChild.cloneNode(true);
    newRow.querySelectorAll('select').forEach(select => {
        if (select.name === 'operation') {
            select.value = '=';
        } else {
            select.value = '';
        }
    });
    queryRows.appendChild(newRow);
}

function removeRow(button) {
    const queryRowsContainer = document.getElementById('queryRows');
    const queryRows = queryRowsContainer.querySelectorAll('.queryRow');

    // Check if there is more than one queryRow
    if (queryRows.length > 1) {
        const row = button.closest('.queryRow');
        row.remove();
    }
}

function toggleVisibility(id) {
    var element = document.getElementById(id);
    if (element.style.display === 'block') {
        element.style.display = 'none';
    } else {
        element.style.display = 'block';
    }
}

function toggleSpaceQueryType() {
    var queryType = document.getElementById('spaceQueryType').value;

    resetSpaceInputs();
    var centerPointInputs = document.getElementById('centerPointInputs');
    var cornerPointsInputs = document.getElementById('cornerPointsInputs');
    var countrySelectInput = document.getElementById('countrySelectInput');
    var continentSelectInput = document.getElementById('continentSelectInput');

    if (queryType === 'centerPoint') {
        centerPointInputs.style.display = 'block';
        cornerPointsInputs.style.display = 'none';
        countrySelectInput.style.display = 'none';
        continentSelectInput.style.display = 'none';
    } else if (queryType === 'cornerPoints') {
        centerPointInputs.style.display = 'none';
        cornerPointsInputs.style.display = 'block';
        countrySelectInput.style.display = 'none';
        continentSelectInput.style.display = 'none';
    } else if (queryType === 'country') {
        centerPointInputs.style.display = 'none';
        cornerPointsInputs.style.display = 'none';
        countrySelectInput.style.display = 'block';
        continentSelectInput.style.display = 'none';
    } else if (queryType === 'continent') {
        centerPointInputs.style.display = 'none';
        cornerPointsInputs.style.display = 'none';
        countrySelectInput.style.display = 'none';
        continentSelectInput.style.display = 'block';
    }
}

function resetSpaceInputs() {
    // Reset center point inputs
    document.getElementById('centerPoint').value = '';
    document.getElementById('centerPointBuffer').value = '0.25';

    // Reset corner points inputs
    document.getElementById('upperLeft').value = '';
    document.getElementById('lowerRight').value = '';

    // Reset country select input
    document.getElementById('countrySelect').value = '';

    // Reset continent select input
    document.getElementById('continentSelect').value = '';
}

function fetchSampleCounts() {
    var form = document.getElementById('queryForm');
    var formData = new FormData(form);
    document.getElementById('sampleCount').textContent = 'Loading...';
    document.getElementById('studyCount').textContent = 'Loading...';
    fetch('/api/n_samples', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Update the sample count display with the new data
        document.getElementById('sampleCount').textContent = data.sample_count;
        document.getElementById('studyCount').textContent = data.study_count;
        document.getElementById('filterText').textContent = data.filter_text;
    })
    .catch(error => {
        document.getElementById('sampleCount').textContent = 'error fetching counts...';
        document.getElementById('studyCount').textContent = 'error fetching counts...';
        document.getElementById('filterText').textContent = 'error fetching counts...';
    });
}

const fieldValues = {
    {% for field, values in unique_covariate_values.items() %}
        "{{ field }}":
            {% if values is iterable and not values is string %}[{% for value in values %}"{{ value.replace('\n', '\\n').replace('\r', '\\r') }}"{% if not loop.last %}, {% endif %}{% endfor %}]{% else %}"{{ values }}"{% endif %},{% endfor %}

};

function updateValueOptions(fieldSelect) {
    const queryRow = fieldSelect.closest('.queryRow');
    const valueSelectContainer = queryRow.querySelector('.valueSelectContainer');
    const selectedField = fieldSelect.value;

    // Clear previous options
    valueSelectContainer.innerHTML = '';

    // Populate new options
    if (selectedField in fieldValues) {
        const values = fieldValues[selectedField];

        if (Array.isArray(values)) {
            // Create a dropdown
            const valueSelect = document.createElement('select');
            valueSelect.name = 'value';
            valueSelect.classList.add('valueSelect');
            valueSelect.innerHTML = '<option value="" selected>Select value</option>';

            values.forEach(value => {
                const option = document.createElement('option');
                option.value = value;
                option.text = value;
                valueSelect.appendChild(option);
            });
            valueSelectContainer.appendChild(valueSelect);
        } else if (values == 'INTEGER') {
            // Create an integer input box
            const valueInput = document.createElement('input');
            valueInput.type = 'number';
            valueInput.name = 'value';
            valueInput.classList.add('valueInput');
            valueInput.step = '1';
            valueInput.value = 0;
            valueSelectContainer.appendChild(valueInput);
        } else if (values == 'FLOAT') {
            // Create a float input box with any step size
            const valueInput = document.createElement('input');
            valueInput.type = 'number';
            valueInput.name = 'value';
            valueInput.classList.add('valueInput');
            valueInput.step = 'any';
            valueInput.value = 0.0;
            valueSelectContainer.appendChild(valueInput);
        } else if (values == 'STRING') {
            // Create a text input box for string values
            const valueInput = document.createElement('input');
            valueInput.type = 'text';
            valueInput.name = 'value';
            valueInput.classList.add('valueInput');
            valueInput.value = 'enter a value';
            valueSelectContainer.appendChild(valueInput);
        }
        valueSelectContainer.addEventListener('change', function() {
            fetchSampleCounts();
        });
    }
}

window.addEventListener("pageshow", function() {
    toggleSpaceQueryType();
    var selectElement = document.getElementById('covariateSelect');
    if (selectElement.value) {
        updateValueOptions(selectElement);
    }
});

window.addEventListener('load', function() {
    adjustSampleCountPosition();
});

window.addEventListener('resize', function() {
    adjustSampleCountPosition();
});
function adjustSampleCountPosition() {
    var queryBuilder = document.getElementById('queryBuilder');
    var validSampleCount = document.getElementById('validSampleCount');

    // Get the position and width of the queryBuilder
    var queryBuilderRect = queryBuilder.getBoundingClientRect();

    // Set the position of validSampleCount
    validSampleCount.style.left = (queryBuilderRect.right + 20) + 'px';
    validSampleCount.style.top = '20px'; // Keep it fixed at the top of the viewport
    validSampleCount.style.position = 'fixed';
}

document.addEventListener('DOMContentLoaded', function() {
    // Get the form and all its input elements
    var form = document.getElementById('queryForm');
    var inputs = form.querySelectorAll('input, select');

    inputs.forEach(function(input) {
        input.addEventListener('change', function() {
            fetchSampleCounts();
        });
    });

    document.getElementById('queryRows').addEventListener('click', function(event) {
        if (event.target && event.target.matches('button.btn-secondary')) {
            // When the Remove button is clicked, fetch the updated sample counts
            fetchSampleCounts();
        }
    });


    fetchSampleCounts();
});


</script>
</body>
</html>
